################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication/WebApplication/bin/Debug/netcoreapp3.1
/WebApplication/WebApplication/obj
/WebApplication/.vs/WebApplication
/.vs
