@model LibrarySystem.Domain.Book

@{
    ViewData["Title"] = "Create";
}

<h4>Book Form</h4>
<hr/>
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddOrEdit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control"/>
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ISBN" class="control-label"></label>
                    <input asp-for="ISBN" class="form-control"/>
                    <span asp-validation-for="ISBN" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control"/>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishedDate" class="control-label"></label>
                <input asp-for="PublishedDate" class="form-control" type="date" asp-format="{0:yyyy-MM-dd}"/>
                <span asp-validation-for="PublishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" type="number" min="0"/>
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinePerDay" class="control-label">Fine Per Day (£)</label>
                <input asp-for="FinePerDay" class="form-control"/>
                <span asp-validation-for="FinePerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Upload book image</label>
                <input asp-for="MyImage"/>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ImageFileName" class="control-label"></label>
                <input asp-for="ImageFileName" class="form-control"/>
                <span asp-validation-for="ImageFileName" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Save" class="btn btn-primary btn-block"/>
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Back to List</a>
                </div>
            </div>
        </form>
    </div>
    @* <div class="col-md-6"> *@
    @*     @if (!string.IsNullOrEmpty(Model.ImageFileName)) *@
    @*     { *@
    @*         <img height="400px" width="400px" src="~/uploads/@Model.ImageFileName" alt="my img"/> *@
    @*     } *@
    @* </div> *@
    <div class="col-md-6">
        @if (Model.ImageBytes != null)
        {
            <img height="400px" width="400px" src="data:image/jpeg;base64,@Convert.ToBase64String(@Model.ImageBytes)"/>
        }
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}